.modal {
    width: 100vw;
    height: 100vh;
    background-color: rgba(193, 193, 193, 0.8 );
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    border: black solid 1px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    Padding: 1.6rem 3.2rem;
    border-radius: 1pc;
    width: 400px;
    height: 200px;
    background-color: rgba(230, 230, 230, 1 );
    color: black;
}

.buttons__lower {
    display: flex;
    justify-content: space-between;
    width: 20vw;
}

.inputEdit {
    width: 30vw;
    height: 50vh;
}